#cesiumContainer {
    width: 800px;
    height: 600px;
}

#coordinates {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 400px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 5px;
    text-align: left;
}